@import "./branding";

.full-screen {
  min-height: 100vh;
}

.primary-background {
  background-color: $primary-colour;
}

.half-screen {
  min-height: 50vh;
}

.quarter-screen {
  min-height: 25vh;
}

.flex-box-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.flex-box-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.height15vh {
  height: 15vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $title-text-font;
  font-weight: 10;
  letter-spacing: 0.1vw;
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.paddingTop5vh {
  padding-top: 5vh;
}

*,
::after,
::before {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
