@import "./branding";

.full-screen {
  min-height: 100vh;
}

.height100vh {
  height: 100vh;
}

.primary-background {
  background-color: $primary-colour;
}

.half-screen {
  min-height: 50vh;
}

.quarter-screen {
  min-height: 25vh;
}

.width-full {
  width: 100%;
}

.primary-background {
  background-color: $primary-colour;
}

.flex-box-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.flex-box-around {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flex-box-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-box-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-box-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.height15vh {
  height: 15vh;
}

.thick-bottom-border {
  border-bottom: 0.5vh solid $secondary-colour;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.fixed {
  position: fixed;
  top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $title-text-font;
  color: $primary-text-colour;
  font-weight: 10;
  letter-spacing: 0.1vw;
  margin-top: 0;
}

h1.page-title {
  padding: 2.5vh 0 2.5vh 0;
}

p,
text {
  font-family: $primary-text-font;
  color: $primary-text-colour;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.paddingTop5vh {
  padding-top: 5vh;
}

*,
::after,
::before {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
