@import "./branding";

//Media Queries: 1400px
@media screen and (max-width: 1500px) {
  // About section
  .about-container {
    height: 125vh !important;
  }

  .headshot-container {
    .headshot-and-text-container {
      position: relative;
      top: 135%;
      transform: translateY(-50%);
    }
  }

  .footer-email-container {
    ul {
      li {
        img {
          width: 12.5% !important;
        }

        p {
          font-size: 1em;
        }
      }
    }
  }

  .social-media-links-footer-container {
    ul {
      // margin-left: 15vw !important;
      // margin-right: 15vw !important;

      li {
        a {
          img {
            width: 12.5% !important;
          }

          p {
            font-size: 1em;
          }
        }
      }
    }
  }

  .work-with-us-page-container {
    height: 190vh !important;
    .work-info-container-right {
      width: 75vw;
    }

    .contact-info-container {
      width: 100vw !important;
    }
  }

  .credits-container {
    font-size: 0.6em;
    // top: 10% !important;
    a {
      font-size: 0.6em;
    }
  }
}

//Media Queries: 1200px
@media screen and (max-width: 1200px) {
  // About section
  .about-container {
    height: 145vh !important;
  }

  .headshot-container {
    .headshot-and-text-container {
      top: 170%;
    }
  }

  .footer-email-container {
    ul {
      margin-left: 10vw !important;
      margin-right: 10vw !important;
      li {
        img {
          width: 10% !important;
        }

        p {
          font-size: 0.9em;
        }
      }
    }
  }

  .social-media-links-footer-container {
    ul {
      margin-left: 10vw !important;
      margin-right: 10vw !important;
      li {
        a {
          img {
            width: 10% !important;
          }

          p {
            font-size: 0.9em;
          }
        }
      }
    }
  }

  // .work-with-us-page-container {
  //   height: 205vh !important;
  // }

  // .work-for-us-page-container {
  //   height: 225vh !important;
  // }

  .credits-container {
    font-size: 0.6em;
    // top: 10% !important;
    a {
      font-size: 0.6em;
    }
  }
}

//Media Queries: 1100px
@media screen and (max-width: 1100px) {
  .headshot-container {
    .headshot-and-text-container {
      top: 185%;
    }
  }

  .work-container {
    .work-sub-container {
      .work-text {
        p {
          font-size: 1.2em;
        }
      }
    }
  }

  .work-for-us-page-container {
    .info-paragraph {
      .work-info-list-container {
        .work-info-list ul {
          top: 0 !important;
          li {
            font-size: 1.1em !important;
          }
        }
      }
    }
  }

  .work-with-us-page-container {
    .info-paragraph {
      .work-info-list-container {
        .work-info-list ul {
          top: 0 !important;
          li {
            font-size: 1.1em !important;
          }
        }
      }
    }
  }

  .footer-email-container {
    ul {
      li {
        img {
          width: 9% !important;
        }

        p {
          font-size: 0.85em;
        }
      }
    }
  }

  .social-media-links-footer-container {
    ul {
      li {
        a {
          img {
            width: 9% !important;
          }

          p {
            font-size: 0.85em;
          }
        }
      }
    }
  }

  // .work-with-us-page-container {
  //   height: 225vh !important;
  // }

  // .work-for-us-page-container {
  //   height: 230vh !important;
  // }
}

//Media Queries: 1000px
@media screen and (max-width: 1000px) {
  .about-container {
    height: 165vh !important;
    .about-text {
      .about-sub-text {
        height: 25vh;
      }
    }

    .headshot-container {
      .headshot-and-text-container {
        top: 225%;
      }
    }
  }

  .work-container {
    .work-sub-container {
      .work-text {
        p {
          font-size: 1.1em;
        }
      }

      .work-button {
        a {
          font-size: 1.2em;
        }
      }
    }
  }

  // .work-with-us-page-container {
  //   height: 245vh !important;
  // }

  // .work-for-us-page-container {
  //   height: 260vh !important;
  // }
}

//Media Queries: 420px
@media screen and (max-width: 420px) {
  //Social media links at top of page
  // .top-social-medias {
  //   width: 50vw;
  //   position: absolute;
  //   left: 45vw;
  // }

  body {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  // Nav Bar
  .nav-bar {
    z-index: 1;
    position: relative;
    top: 25%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      li {
        font-family: $title-text-font;
        font-size: 1.1em;

        :hover {
          color: $primary-text-colour;
        }
      }
    }
  }

  .logo-only-container {
    height: 42vh;
    img {
      position: relative;
      height: 46vh;
      top: 5vh;
    }
  }

  .text-only-container {
    position: relative;
    bottom: 15vh;

    h1 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1em;
    }
  }

  // About section
  .about-container {
    height: 150vh !important;
    grid-template: 5% 60% 35% / 100% !important;
    .about-text {
      height: 40vh;
      grid-area: text;
      .about-sub-text {
        height: 20vh;
        margin-top: 2vh;
        p {
          font-size: 0.75em;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          font-family: $primary-text-font;
          float: left;
        }
      }
    }

    .headshot-container {
      grid-area: headshot;
      height: 50vh;
      .headshot-and-text-container {
        top: 130%;
        img {
          position: relative;
          top: 50%;
          transform: 0;
          height: 20vh;
        }
      }
    }
  }

  // Work for/with us section
  .work-container {
    background: $secondary-colour;
    height: 200vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .work-sub-container {
      background: $secondary-colour;
      width: 100vw;
      height: 100vh;

      .work-for-us-image-container {
        img {
          width: 100vw;
        }
      }

      .work-with-us-image-container {
        img {
          width: 100vw;
        }
      }
    }

    .work-title {
      grid-area: title;

      h1 {
        font-size: 2.5em;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .work-text {
      grid-area: text;
      margin-left: 7.5vw;
      margin-right: 7.5vw;

      p {
        font-size: 1.1em !important;
      }
    }

    .work-button {
      grid-area: button;
    }
  }

  .work-for-us-page-container {
    // height: 500vh;

    .work-info-list-container {
      .work-info-list {
        li {
          font-size: 0.75em !important;
        }
      }
    }

    p {
      font-size: 0.75em;
    }

    .contact-info-container {
      margin-top: 5vh !important;
    }
  }

  .work-with-us-page-container {
    // height: 500vh !important;

    .work-info-list-container {
      .work-info-list {
        li {
          font-size: 0.75em !important;
        }
      }
    }

    .info-paragraph {
      .work-info-container .work-info-container-left {
        .work-info {
          p {
            font-size: 0.75em;
          }
        }
      }
    }

    .contact-info-container {
      margin-top: 5vh !important;
    }
  }

  // Footer Section
  .footer-container {
    height: 40vh !important;
    grid-template: 30% 40% 20% 10% / 100% !important;
    grid-template-areas:
      "email"
      "socialMedia"
      "logo"
      "credits" !important;

    .footer-email-container {
      grid-area: email;
      padding-top: 5.5vh;

      ul {
        margin-left: 20vw !important;
        margin-right: 20vw !important;

        li {
          .contact-container {
            justify-content: space-between;
            img {
              width: 7% !important;
            }

            p {
              font-size: 0.7em;
            }
          }
        }
      }
    }

    .footer-logo-container {
      img {
        height: 15vh !important;
        position: relative !important;
        bottom: 4vh !important;
      }
    }

    .social-media-links-footer-container {
      grid-area: socialMedia;

      ul {
        margin-left: 20vw !important;
        margin-right: 20vw !important;

        li {
          a {
            .contact-container {
              justify-content: space-between;
              img {
                width: 7% !important;
              }

              p {
                font-size: 0.7em;
              }
            }
          }
        }
      }
    }
  }

  .credits-container {
    font-size: 0.3em;
    top: 5% !important;
    a {
      font-size: 0.3em;
    }
  }
}

@media screen and (max-width: 320px) {
  // .work-for-us-page-container {
  //   height: 550vh;
  // }

  // .work-with-us-page-container {
  //   height: 550vh !important;
  // }
}
