
.talent-list-container {
    margin-left: 15vw;
    margin-right: 15vw;

    .talent-container {
        background: whitesmoke;
        background-size: contain;
        width: 20vh;
        height: 20vh;
    }
}